@media screen and (max-width: 800px) 
{
* {background-repeat:no-repeat;background-size:cover;background-position:50% auto;font-family:Segoe UI;font-size:14px;box-sizing:border-box;text-decoration:none;}
body {margin:0px;width:100%;overflow:hidden;}
div {display:block;margin:0px;}


#header {height:64px;width:100%;background-color:white;border-bottom:1px solid #eee;color:#123;box-shadow:0px 0px 2px rgba(10,10,10,0.3);position:fixed;z-index:99;top:0px;left:0px;}
.logo {display:inline-block;position:absolute;left:50%;transform:translate(-50%,0);top:8px;}
.img {height:64px;width:64px;border-radius:64px;border:4px solid dimgray;}

.olink {display:inline-block;position:absolute;left:20px;top:14px;height:32px;width:32px;background-image:url(target.png);background-size:cover;}
.olink a {display:inline-block;height:100%;width:100%;}
.tlink {display:inline-block;position:absolute;right:20px;top:14px;height:32px;width:32px;background-image:url(menu.png);background-size:cover;}
.tlink a {display:inline-block;height:100%;width:100%;}

#content {margin-top:64px;width:100%;overflow:hidden;}

.banner {width:100%;overflow:hidden;background-color:rgba(25,30,35,0.8);}
.banner img {width:150%;margin-left:-25%;opacity:0.9;}




.lr {float:left;width:50%;}
.lr h1 {padding-left:20px;margin-top:20px;}
.lr h5 {padding-left:20px;margin-top:10px;margin-bottom:20px;}
.lr .stock {color:darkgray;font-weight:normal;}
.lr .excl {color:dodgerblue;font-weight:normal;}

.buynow {background-color:dodgerblue;box-shadow:inset 0px 0px 0px royalblue;height:40px;font-size:14px;color:white;border:1px solid royalblue;border-radius:4px;font-weight:bold;float:right;margin-right:20px;width:10em;margin-top:22px;}
.rev {background-color:rgba(50,50,50,1);box-shadow:inset 0px 0px 8px black;height:40px;font-size:14px;color:rgba(255,255,255,1);border:1px solid dimgray;border-radius:4px;font-weight:bold;float:right;margin-right:20px;width:10em;margin-top:22px;}
.rev a {color:inherit;}

.shopnow {border-bottom:1px solid #eee;overflow:hidden;}

.lr h4 {padding-left:20px;margin-top:24px;margin-bottom:8px;}
.lr p {padding-left:20px;margin-top:8px;margin-bottom:8px;}

.deets, .peets {background-color:white;overflow:hidden;}
.deets p, .peets p {font-size:13px;}
.chps {width:50%;opacity:0.9;}


.sabg {background-image:url(sabg.png);background-attachment:fixed;background-position:0px 50%;background-size:100%;}
.sabg img {opacity:0;width:150%;margin-left:-25%;}


.xxl {font-size:36px;}
.xl {font-size:30px;}
.m {font-size:17px;}
.wow {background-color:white;padding:20px;text-align:center;}

.marketing {}
.pics {text-align:center}
.ls {width:100%;}
.cpb {width:100%;}


#footer {overflow:hidden;background-color:rgba(25,30,35,1);border-top:1px solid rgba(0,5,10,1);text-align:center;width:100%;}
#footnote {border-top:1px dashed rgba(100,100,100,1);color:rgba(200,200,200,1);display:inline-block;text-align:center;width:100%;margin-top:40px;padding-top:12px;padding-bottom:13px;font-size:12px;}
.footmenu {float:left;text-align:left;padding-right:20px;padding-left:20px;padding-top:20px;padding-bottom:0px;line-height:1.5em}
.footmenu:nth-child(1) {width:50%;}
.footmenu:nth-child(2) {width:50%;}
.footmenu:nth-child(3) {width:100%;}
.footmenu:nth-child(4) {width:100%;}
.footmenu h4 {color:rgba(150,150,150,1);margin-bottom:8px;}
.footmenu a {color:rgba(200,200,200,1);text-decoration:none;}
.footmenu .abt {font-size:12px;color:rgba(200,200,200,1);}
.footmenu .del {display:inline-block;font-size:13px;color:rgba(200,200,200,1);}
.footmenu .del+p {margin:0px;font-size:6px;color:rgba(200,200,200,1);text-align:center;display:none;}

#background {transition: all 0.6s;height:0px;width:0px;z-index:100;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);}


.cform {width:calc(100% - 40px);border:1px solid #eee;border-radius:4px;height:48px;margin-top:8px;}
.cbut {width:calc(100% - 40px);border:1px solid #eee;border-radius:4px;height:48px;margin-top:8px;}
.blab {background-color:rgba(50,50,50,1);box-shadow:inset 0px 0px 8px black;height:40px;font-size:14px;color:rgba(255,255,255,1);border:1px solid dimgray;border-radius:4px;}
.blub {background-color:dodgerblue;box-shadow:inset 0px 0px 0px royalblue;height:40px;font-size:14px;color:white;border:1px solid royalblue;border-radius:4px;}
#tracking {transition: all 0.5s;height:0px;width:0px;overflow:hidden;z-index:101;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);background-color:white;border:1px solid #eee;border-radius:4px;}
.slide1, .slide2 {height:100%;width:100%;text-align:center;}
.noti {padding:16px;font-size:15px;color:dimgray;}


#menu {transition: all 1s;height:0px;width:100%;overflow:hidden;z-index:101;position:fixed;top:0px;left:0px;background-color:white;}
#loader {transition: all 0.5s;height:0px;width:0px;overflow:hidden;z-index:102;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);background-color:white;}
#loader img {z-index:102;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);}
.legal {padding:16px;}


#fail {display:none;background-color:#eee;border-radius:4px;margin-top:10px;color:dimgray;font-size:13px;padding:10px;}

.skyli {color:dodgerblue;}
#menu a {display:block;color:dimgray;font-size:18px;text-align:center;margin-top:16px;}
#menu a:hover, #menu a:active {color:dodgerblue}
#menu font {display:block;color:rgba(10,10,10,1);font-size:18px;text-align:center;margin-top:32px;}

.totop {height:32px;width:32px;border:1px solid #eee;border-radius:32px;position:fixed;right:16px;bottom:5px;font-size:18px;border:0px solid #123;}


#checkout {transition: all 0.5s;height:calc(100% - 64px);width:25em;overflow:hidden;overflow-y:auto;z-index:101;position:fixed;top:50%;left:150%;transform:translate(-50%,-50%);background-color:white;border:1px solid #eee;border-radius:4px;}
#checkout .slide2 {display:none;}

.nice {font-size:14px;}

#prov {text-transform:capitalize;}



}







@media screen and (min-width: 801px) 
{

* {background-repeat:no-repeat;background-size:cover;background-position:50% auto;font-family:Segoe UI;font-size:14px;box-sizing:border-box;text-decoration:none;}
body {margin:0px;}
div {display:block;margin:0px;}


#header {height:64px;width:100%;background-color:white;border-bottom:1px solid #eee;color:#123;box-shadow:0px 0px 2px rgba(10,10,10,0.3);position:fixed;z-index:99;top:0px;left:0px;}
.logo {display:inline-block;position:absolute;left:50%;transform:translate(-50%,0);top:8px;}
.img {height:64px;width:64px;border-radius:64px;border:4px solid dimgray;}

.olink {display:inline-block;position:absolute;left:20px;top:14px;height:32px;width:32px;background-image:url(target.png);background-size:cover;}
.olink a {display:inline-block;height:100%;width:100%;}
.tlink {display:inline-block;position:absolute;right:20px;top:14px;height:32px;width:32px;background-image:url(menu.png);background-size:cover;}
.tlink a {display:inline-block;height:100%;width:100%;}

#content {margin-top:64px;}

.banner {width:100%;overflow:hidden;background-color:rgba(25,30,35,0.8);}
.banner img {width:100%;opacity:0.9;}




.lr {float:left;width:50%;}
.lr h1 {padding-left:20px;margin-top:20px;}
.lr h5 {padding-left:20px;margin-top:10px;margin-bottom:20px;}
.lr .stock {color:darkgray;font-weight:normal;}
.lr .excl {color:dodgerblue;font-weight:normal;}

.buynow {background-color:dodgerblue;box-shadow:inset 0px 0px 0px royalblue;height:40px;font-size:14px;color:white;border:1px solid royalblue;border-radius:4px;font-weight:bold;float:right;margin-right:20px;width:10em;margin-top:22px;}
.rev {background-color:rgba(50,50,50,1);box-shadow:inset 0px 0px 8px black;height:40px;font-size:14px;color:rgba(255,255,255,1);border:1px solid dimgray;border-radius:4px;font-weight:bold;float:right;margin-right:20px;width:10em;margin-top:22px;}
.rev a {color:inherit;}

.shopnow {border-bottom:1px solid #eee;overflow:hidden;}

.lr h4 {padding-left:20px;margin-top:24px;margin-bottom:8px;}
.lr p {padding-left:20px;margin-top:8px;margin-bottom:8px;}

.deets, .peets {background-color:white;overflow:hidden;}
.deets p, .peets p {font-size:13px;}
.chps {width:50%;opacity:0.9;}


.sabg {background-image:url(sabg.png);background-attachment:fixed;background-position:0px 50%;background-size:100%;}
.sabg img {opacity:0;width:100%;}


.xxl {font-size:36px;}
.xl {font-size:30px;}
.m {font-size:17px;}
.wow {background-color:white;padding:20px;text-align:center;}

.marketing {}
.pics {text-align:center}
.ls {width:50%;}
.cpb {width:50%;}


#footer {overflow:hidden;background-color:rgba(25,30,35,1);border-top:1px solid rgba(0,5,10,1);text-align:center;width:100%;}
#footnote {border-top:1px dashed rgba(100,100,100,1);color:rgba(200,200,200,1);display:inline-block;text-align:center;width:100%;margin-top:40px;padding-top:12px;padding-bottom:13px;font-size:12px;}
.footmenu {float:left;text-align:left;padding-right:20px;padding-left:20px;padding-top:20px;padding-bottom:0px;line-height:1.5em}
.footmenu:nth-child(1) {width:15%;}
.footmenu:nth-child(2) {width:15%;}
.footmenu:nth-child(3) {width:31%;}
.footmenu:nth-child(4) {width:39%;}
.footmenu h4 {color:rgba(150,150,150,1);margin-bottom:8px;}
.footmenu .h4 {color:rgba(150,150,150,1);margin-bottom:8px;margin-top:8px;}
.footmenu a {color:rgba(200,200,200,1);text-decoration:none;}
.footmenu .abt {font-size:12px;color:rgba(200,200,200,1);}
.footmenu .del {display:inline-block;font-size:13px;color:rgba(200,200,200,1);}
.footmenu .del+p {margin:0px;font-size:6px;color:rgba(200,200,200,1);text-align:center;display:none;}

#background {transition: all 0.6s;height:0px;width:0px;z-index:100;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);}


.cform {width:calc(100% - 40px);border:1px solid #eee;border-radius:4px;height:48px;margin-top:8px;}
.cbut {width:calc(100% - 40px);border:1px solid #eee;border-radius:4px;height:48px;margin-top:8px;}
.blab {background-color:rgba(50,50,50,1);box-shadow:inset 0px 0px 8px black;height:40px;font-size:14px;color:rgba(255,255,255,1);border:1px solid dimgray;border-radius:4px;}
.blub {background-color:dodgerblue;box-shadow:inset 0px 0px 0px royalblue;height:40px;font-size:14px;color:white;border:1px solid royalblue;border-radius:4px;}
#tracking {transition: all 0.5s;height:0px;width:0px;overflow:hidden;z-index:101;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);background-color:white;border:1px solid #eee;border-radius:4px;}
.slide1, .slide2 {height:100%;width:100%;text-align:center;}
.noti {padding:16px;font-size:15px;color:dimgray;}


#menu {transition: all 1s;height:0px;width:100%;overflow:hidden;z-index:101;position:fixed;top:0px;left:0px;background-color:white;}
#loader {transition: all 0.5s;height:0px;width:0px;overflow:hidden;z-index:102;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);background-color:white;}
#loader img {z-index:102;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);}
.legal {padding:16px;}


#fail {display:none;background-color:#eee;border-radius:4px;margin-top:10px;color:dimgray;font-size:13px;padding:10px;}

.skyli {color:dodgerblue;}
#menu a {display:block;color:dimgray;font-size:18px;text-align:center;margin-top:16px;}
#menu a:hover, #menu a:active {color:dodgerblue}
#menu font {display:block;color:rgba(10,10,10,1);font-size:18px;text-align:center;margin-top:32px;}

.totop {height:32px;width:32px;border:1px solid #eee;border-radius:32px;position:fixed;right:16px;bottom:5px;font-size:18px;border:0px solid #123;}


#checkout {transition: all 0.5s;height:calc(100% - 64px);width:25em;overflow:hidden;overflow-y:auto;z-index:101;position:fixed;top:50%;left:150%;transform:translate(-50%,-50%);background-color:white;border:1px solid #eee;border-radius:4px;}
#checkout .slide2 {display:none;}

.nice {font-size:14px;}

#prov {text-transform:capitalize;}

}